# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# LOGS
# ========================
*.log

# ========================
# ARDUINO BUILD
# ========================
*.elf
*.hex
*.bin

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
venv/
.env/
.venv/

# ========================
# DATABASE
# ========================
*.db
*.sqlite3

# ========================
# VSCODE
# ========================
.vscode/

# ========================
# WORKSPACE (optional)
# ========================
*.code-workspace